* {
  box-sizing: border-box;
}

/* Set styles for the header */
header {
  background-color: darkblue;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Apply alternating "card" styles to sections */
section:nth-child(odd) {
  background-color: lightgray;
  color: black;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

section:nth-child(even) {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

/* Style h2 elements within sections */
section h2 {
  font-size: 24px;
  text-align: center;
}

/* Style textareas within sections */
section textarea {
  font-size: 20pt;
  height: 400px;
  width: 100%;
  text-align: center;
}
